<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=laurynasteststorage;AccountKey=9+ufUibVphAtvEfMIF1wCt46slFmglYajb/z7+Y9gHz3Jn7f7dldUHZxgYtfZTl6Pu1Qe8B5/cYkA8nsx067bQ==" />
  </appSettings>
</configuration>